@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  font-family: "Manrope", sans-serif;
}

.overflow {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  /* background: url(images/bg.svg), #e5e5e5 !important; */
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  color: #051238;
  text-align: center;
  font-size: 44px !important;
  font-style: normal;
  font-weight: 800 !important;
  line-height: 100%;
  letter-spacing: -1.8px;
}

p {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

a {
  text-decoration: none !important;
}

button:hover {
  cursor: pointer;
}

.container-section {
  width: 90%;
  margin: auto;
}

.section-card {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  text-align: center;
  padding: 56px 0;
}

.section-card h3 {
  color: #051238;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.section-card h3 span {
  color: #0059ff;
  margin-bottom: 32px;
}

.section-card h4 {
  color: #051238;
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 24px;
}

.section-card p {
  color: rgba(5, 18, 56, 0.8);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.section-card button {
  border-radius: 6px;
  border: none;
  background: #00ff94;
  color: #051238;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  margin-top: 42px;
}

.section-card button:hover {
  transition: 600ms;
  background-color: #abffb5;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hover-element {
  transition: transform 0.3s;
}
.hover-element:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.lg-image {
  display: block;
}

.sm-image {
  display: none;
}

.glide_arrow {
  background-color: transparent !important;
  border: none;
}

/* banner */

.spots {
  background: linear-gradient(156deg, #051238 0%, #0e339e 192.36%);
  font-weight: 700;
  padding: 10px 0px;
}
.spots p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}

/* navbar */

.navbar {
  padding: 5%;
}
.navbar-wrapper {
  background: linear-gradient(110deg, #f5f5f5 0.1%, #fff 115.65%);
  box-shadow: 0px 20px 69px rgba(137, 108, 4, 0.1);
  backdrop-filter: blur(11px);
  top: 0;
  z-index: 99999999;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.nav-link {
  font-size: 16px !important;
  line-height: 19px !important;
  color: #051238 !important;
}
.navbar-green {
  background: #00ff94;
}
.navbar-green p {
  font-size: 18px;
  line-height: 22px;
  color: #292929;
}
.navbar-green a {
  color: #051238;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.8px;
}

.dropdown {
  position: static !important;
}

.dropdown i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
}

.dropdown-menu {
  left: unset !important;
  right: 0 !important;
  background: #051238;
  box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
  /* padding: 16px 16px 0 !important; */
  outline: none !important;
  width: 100%;
  text-align: center;
  border-radius: 0 !important;
}

.dropdown-menu.show {
  background: #051238;
}
.dropdown-item {
  color: #606060 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 24px !important;
  margin-bottom: 16px;
  /* border-radius: 8px !important; */
  color: #fff !important;
  font-family: "Manrope", serif;
  font-size: 16px;
  font-weight: 700;
}

.dropdown-item .dropdown-link {
  display: flex !important;
  justify-content: space-between !important;
  width: 25% !important;
  align-items: center;
}

.dropdown-item span.link-arrow {
  display: inline-block;
  /* margin-left: 10%; */
  font-size: 24px;
  font-weight: 500;
  padding: 0 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: #0f2053 !important;
}

.dropdown-menu > li {
  display: block;
}

.dropdown-menu > li.dropdown-title {
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 24px;
}

.dropdown-menu > li p {
  color: #fff;
  font-family: "Manrope", sans-serif;
  padding: 12px 0 8px;
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.dropdown-menu > li span {
  color: #fff;
  padding: 0 0 12px;
  font-size: 16px;
  font-weight: 300;
  line-height: 0;
}

/* hero */
.hero {
  padding: 3% 0%;
}

.hero-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.hero h1 {
  color: #000;
  font-family: Manrope;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2px;
  margin-bottom: 28px;
}
.hero h1 span {
  font-weight: 200;
}

.hero h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Manrope;
  font-size: 26px !important;
  font-weight: 500 !important;
  line-height: 120%;
  letter-spacing: -0.8px;
}

.hero h2 span.blue {
  color: #0059ff;
  font-size: 26px;
}

.hero h2 {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 16px;
}

.hero p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin: 32px 0;
}
.hero p span {
  color: #0059ff;
  font-style: italic;
  font-weight: 800;
}

.header-left {
  width: 50%;
  margin-right: 3%;
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container-section {
  display: flex;
}

.hero-left {
  margin-top: 5%;
}

.hero-left div {
  display: flex;
  gap: 15px;
  margin: 16px;
}

.hero-left div p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.8px;
  margin: 0;
}

.hero-left div p span {
  background-image: url("images/circle.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 20px 20px;
  color: #000;
  font-weight: 600;
}

.form-wrapper {
  background-color: #ffffff;
  width: 450px;
  border-radius: 8px;
  position: relative;
  padding: 50px;
}

.form-wrapper::after {
  content: "";
  position: absolute;
  background-color: #0059ff;
  width: 400px;
  height: 100%;
  border-radius: 8px;
  bottom: -15px;
  right: -15px;
  z-index: -1;
}

.form-wrapper hr {
  height: 4px !important;
  background: rgba(202, 88, 255, 1);
  width: 50px;
  opacity: 1;
  margin-left: 24px;
}
.form-wrapper h3 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 16px;
}
.form-wrapper p {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  margin-bottom: 16px;
}

.form-wrapper input,
.form-wrapper select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  margin-bottom: 16px;
  font-size: 14px;
}

.form-wrapper label {
  margin-bottom: 8px;
  color: #606060;
  font-size: 14px;
}

.form-wrapper textarea {
  width: 100%;
}

.form-wrapper button {
  background: #0059ff;
  border-radius: 4px;
  padding: 11px 18px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  margin: 2% 0%;
  width: 100%;
}
.form-wrapper small {
  color: #858585;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: block;
  margin: 5% 0%;
}

/* about */

.about {
  padding: 8% 0 0;
}

.about h2 {
  margin-bottom: 64px;
}

.about .card {
  min-height: 400px;
}

.about .card .card-body {
  display: flex;
  align-items: center;
}

.about .card h5 {
  color: #051238;
  font-family: Manrope !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 700 !important;
}

/* program-for */

.program-for {
  padding: 5% 0;
}

.program-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 64px;
}

.card1 {
  grid-area: 1 / 1 / 2 / 4;
}
.card2 {
  grid-area: 1 / 4 / 2 / 7;
}
.card3 {
  grid-area: 2 / 1 / 3 / 3;
}
.card4 {
  grid-area: 2 / 3 / 3 / 5;
}
.card5 {
  grid-area: 2 / 5 / 3 / 7;
}
.card6 {
  grid-area: 3 / 1 / 4 / 4;
}
.card7 {
  grid-area: 3 / 4 / 4 / 7;
}

.program-card {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  display: flex;
  padding: 32px 24px;
  align-items: center;
  gap: 16px;
}

.program-card p {
  margin: 0;
  padding: 0;
  color: #051238;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

/* TABLE */

.table-section {
  padding: 5% 0;
}

.table-section p {
  text-align: center;
}

.lg-table {
  display: block;
}

.sm-table {
  display: none;
}

.table-wrapper {
  min-height: 460px;
  overflow-x: auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
}

.table-wrapper table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
  border: none;
  width: calc(100% / 8);
}

.table-wrapper th {
  font-weight: bold;
}

.table-wrapper .black-row {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
}

.table-wrapper.red .yellow-row {
  background-color: #a66d00;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
}

.table-wrapper .green-row {
  background-color: #00ff94;
  color: #051238;
  font-weight: bold;
  border-radius: 30px;
}

.table-wrapper .blue-row {
  background-color: #0155f3;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  min-width: 60px;
}

.table-wrapper .row-margin {
  margin-bottom: 16px;
}

.table-wrapper img {
  margin-right: 8px;
}

.table-section .indicators button {
  border: none;
  background: transparent;
  color: #051238!important;
  font-weight: 700;
}

/* program */

.program-section {
  margin-top: 64px;
}

.program-section h2 {
  text-align: left;
  margin-top: 48px;
}

span.step {
  background: #051238;
  padding: 12px 20px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
}

.program {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.program > div {
  width: 50%;
}

.program-wrapper > div {
  width: 50%;
}

.program img {
  width: 100%;
}

.program-item {
  display: flex;
  align-items: center;
  margin: 5% 0;
}

.program-item button {
  background-color: #00ff94;
  border-radius: 50%;
  width: 33px;
  min-width: 33px;
  max-width: 33px;
  height: 30px;
  font-size: 20px;
  font-weight: 800;
  line-height: 18px;
  border: none;
  align-self: start;
}

.program-item p {
  color: rgba(5, 18, 56, 0.8);
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 0;
}

.program-item p span {
  font-size: 14px;
}

.program-section .modal-content {
  padding: 50px;
}

.program-section .modal h5 {
  color: #051238;
  font-size: 24px;
  font-weight: 700;
}

.program-section .modal p {
  color: #051238;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.program-section .modal .program-description {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.program-section .modal .btn-close {
  background: #051238 !important;
  color: #00ff94 !important;
  border-radius: 50% !important;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  opacity: 1 !important;
  padding: 5px 7px;
}

/* mega courses */

.mega-courses {
  padding: 18% 0;
}

.mega-courses h2 {
  margin-bottom: 32px;
}

.courses-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 16px 0;
}

.courses-wrapper .course-card {
  width: 50%;
  padding: 48px 40px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  background-color: #ffffff;
}

.courses-wrapper .course-card .course-header {
  border-bottom: 1px solid rgba(5, 18, 56, 0.2);
  padding: 20px 0;
}

.courses-wrapper .course-card .course-header h3 {
  color: #051238;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.courses-wrapper .course-card .course-header p {
  color: #051238;
  font-size: 16px;
  font-weight: 400;
}

.course-card .course-body .course-item {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.course-card .course-body p {
  color: #051238;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/* path-to-employment */

.path-to-employment {
  background: #051238;
  padding: 8% 0;
}

.path-to-employment .container-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path-to-employment h3 {
  color: #00ff94;
  font-size: 40px;
  font-weight: 800;
}

.path-to-employment div.path-left,
.path-to-employment div.path-right {
  width: 50%;
}

.path-to-employment div.path-left p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.path-to-employment div.path-left div {
  border-radius: 16px;
  border: 2px solid #00ff94;
  background: #fff;
  width: 180px;
  padding: 12px;
  margin-top: 32px;
  position: relative;
}

.path-to-employment div.path-left div p.num {
  color: #051238;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 132px;
  position: relative;
  width: 50%;
  margin: auto;
  z-index: 1;
}

.path-to-employment div.path-left div p.num::after {
  content: "";
  position: absolute;
  background: #00ff94;
  width: 100%;
  height: 16px;
  bottom: -10px;
  left: 0;
  z-index: -1;
}

.path-to-employment div.path-left p.agencies {
  color: #051238;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.path-to-employment h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.path-to-employment div.path-right div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.path-to-employment div.path-right p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/* contests */

.contests {
  padding: 5% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 58px;
}

.contests > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contests > div:first-child img {
  align-self: center;
}

.contests h3 {
  color: #051238;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
}

.contests p {
  color: #051238;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
}

/* freelance */

.freelance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.freelance-wrapper > div div {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.freelance-wrapper > div div p {
  color: #051238;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* diploma */

.diploma {
  background: #f9f9f9;
  padding: 73px 0;
  margin: 5% 0;
}

.diploma .container-section {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.diploma .container-section > div {
  width: 50%;
}

.diploma h3 {
  color: #051238;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.diploma p {
  color: #051238;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 32px;
}

.diploma img {
  align-self: center;
}

/* free-course */

.free-course .form-wrapper {
  width: 100%;
  padding: 0 64px 32px;
}

.free-course .form-wrapper::after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.free-course .modal-body {
  padding: 0 !important;
}

.free-course .modal-header {
  border-bottom: none;
  padding: 32px 64px 16px;
}

.free-course .modal-header .modal-title {
  font-size: 32px;
  font-weight: 800;
}

.free-course .modal-header .modal-title span {
  color: #0059ff;
}

/* students */

.students.container-section {
  width: 70%;
  padding: 5% 0;
}

.students-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  margin-top: 64px;
}

.student-card {
  border-radius: 10px;
  background: #051238;
  text-align: center;
  color: #fff;
}
.student-card a {
  color: #fff;
}

.student-card a:hover {
  color: #fff;
}

.student-card p {
  font-weight: 400;
}

.student-card p span {
  font-weight: 800;
}

.student-card p span.green {
  color: #00ff94;
}

.student-card-body {
  padding: 16px;
}

.student-card img {
  width: 100%;
}

/* financing */

.financing-options h4 {
  color: #051238;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.financing-options p {
  text-align: center;
  margin-bottom: 32px;
}

.financing-options .accordion {
  width: 80%;
  margin: auto;
}

.financing-options .accordion-item {
  margin-bottom: 24px;
  padding: 24px 100px;
  border-radius: 16px !important;
}

.financing-options .accordion-item p {
  margin: 0 16px;
  color: #051238;
  font-size: 24px;
  font-weight: 700;
}

.financing-options .accordion-body {
  margin-top: 32px;
}

.financing-options .accordion-body p {
  color: #051238;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: left;
  line-height: 120%;
}

.financing-options .accordion-body p span {
  font-weight: 800;
}

.financing-options .offer-card {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  padding: 40px;
  margin-bottom: 32px;
}

.financing-options .offer-card .card-top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.financing-options .offer-card .card-top {
  border-bottom: 1px solid rgba(5, 18, 56, 0.2);
}

.financing-options .offer-card .card-top p {
  color: #051238;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.financing-options .offer-card .card-top span {
  color: #0155f3;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.financing-options .offer-card .card-bottom {
  padding: 32px 0 0;
}

.financing-options .offer-card .card-bottom span {
  display: block;
  color: rgba(5, 18, 56, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.financing-options .offer-btn {
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  border: none;
  background: #0155f3;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0;
  margin: 32px 0 0;
  transition: 400ms;
}

.financing-options .offer-card .card-bottom .offer-btn:hover {
  background: #5186e9;
}

.financing-options .form-wrapper {
  width: 100%;
}

/* refund */

.refund {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #051238;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  text-align: center;
  padding: 48px 0;
  margin: 5% auto;
}

.refund h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.refund p {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

.refund span {
  color: #00ff94;
}

.refund button {
  border-radius: 6px;
  border: none;
  background: #00ff94;
  color: #051238;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  margin-top: 42px;
}

.refund button:hover {
  transition: 600ms;
  background-color: #abffb5;
}

/* feedback */

.feedback h2 {
  margin-bottom: 32px;
}

.feedback-card {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: var(--White, #fff);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  padding: 32px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-card .rating {
  margin-bottom: 24px;
}

.feedback-card p {
  color: rgba(5, 18, 56, 0.6);
}

.feedback-card .card-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.feedback-card .card-info img {
  align-self: center;
}

.feedback-card .card-info p {
  color: #051238;
  font-weight: 400;
  margin-bottom: 8px;
}

.feedback-card .card-info p span {
  font-weight: 800;
}

/* community */

.community.container-section {
  width: 60%;
  padding: 5% 0;
}

.community h3 {
  font-size: 20px;
  font-weight: 800;
}

.community .row {
  margin-bottom: 32px;
  margin-top: 32px;
}

.community span {
  font-weight: 600;
}

.community img {
  width: 100%;
}

.community .section-card {
  padding: 56px 24px;
}

/* proccess */

.proccess.container-section {
  width: 60%;
  text-align: center;
}

.proccess h2 {
  margin-bottom: 48px;
}

.proccess img {
  width: 100%;
}

/* more-info */

.more-info.container-section {
  width: 70%;
  padding: 5% 0;
}

.more-info .section-card {
  padding: 56px 48px;
}

.more-info .section-card > div {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.more-info button a {
  color: #051238;
}

/* faq */

.faq.container-section {
  width: 60%;
}

.faq h3 {
  color: #051238;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 64px;
}

.faq .accordion-item {
  padding: 24px 0;
}

.faq .accordion-body {
  padding: 32px 16px;
}

.faq .accordion-item p {
  color: #05133b;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.faq .accordion-button {
  color: #051238;
  font-size: 20px;
  font-weight: 800;
  line-height: 120%;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  color: #051238 !important;
}

/* mentors */

.mentors h2 {
  margin-bottom: 64px;
}

.mentor-card {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}

.mentor-card h4 {
  color: #051238;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.mentor-card img {
  align-self: center;
  width: 200px;
}

.mentor-card p {
  text-align: left;
  line-height: 1.3;
}

.mentor-card .mentor-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mentor-card .student-testimonial {
  border-top: 2px solid rgba(5, 18, 56, 0.2);
  padding-top: 32px;
}

.mentor-card .student-testimonial p {
  color: #051238;
  font-size: 16px;
  font-weight: 400;
}

.student-testimonial p span {
  font-weight: 800;
}

/* real experiences */

.real-experiences {
  padding: 5% 0 0;
}

.real-experiences h2 {
  margin-bottom: 48px;
}

.real-experiences img {
  width: 100%;
}

/* offers */

.offers.meeting {
  padding: 0 0;
}

.offers h2 {
  margin-bottom: 80px;
}

.offers .price-card {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  padding: 48px 40px;
  position: relative;
}

.offers .price-card h4 {
  color: #051238;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 32px 0;
}

.offers .price-card p {
  color: #051238;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.offers .price-card p span {
  font-size: 30px;
  font-weight: 800;
}

.offers .price-header {
  border-bottom: 2px solid rgba(5, 18, 56, 0.2);
  padding-bottom: 32px;
}

.offers .price-header p {
  color: #051238;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 33px */
  letter-spacing: -1.2px;
}

.offers .price-header p span {
  font-weight: 600;
}

.offers .price-header span {
  color: rgba(5, 18, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.offers .price-header > div img {
  position: absolute;
  left: 10px;
}

.offers .price-body {
  padding: 32px 0;
  border-bottom: 2px solid rgba(5, 18, 56, 0.2);
}

.offers .price-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}

.offers .price-footer p.financing {
  color: #051238;
  font-size: 20px;
  font-weight: 800;
}

.offers .price-body div div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.offers .price-body div p {
  margin: 0;
}

.offers .price-body p {
  margin-top: 64px;
}

.offers .price-body ul {
  list-style: none;
  margin-left: 16px;
}

.offers .price-body ul li {
  margin: 8px 0;
  color: #051238;
  font-size: 16px;
  font-weight: 500;
}

.offers .price-footer {
  padding-top: 32px;
}

.offers .price-footer span {
  color: #051238;
  font-size: 18px;
  font-weight: 400;
}

.offers .price-card button {
  width: 100%;
  background-color: #00ff94;
  color: #051238;
  font-size: 18px;
  padding: 16px 32px;
  font-weight: 800;
  border: none;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.offers .price-card button:hover {
  transition: 600ms;
  background-color: #abffb5;
}

.offers .price-card button a {
  color: #051238;
}

/* register */

.register {
  padding: 5% 0;
}

.register h2 {
  color: #ffffff;
  font-size: 40px;
  width: 70%;
  margin: 32px auto;
}

.register p {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  width: 70%;
  margin: 0 auto 48px;
}

.register .register-wrapper {
  border-radius: 20px;
  background: linear-gradient(114deg, #051238 0%, #0e339e 162.75%);
  padding: 150px;
  position: relative;
  z-index: 0;
}

.register .form-wrapper {
  margin: auto;
}

.register .form-wrapper input,
.form-wrapper select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  margin-bottom: 24px;
  font-size: 16px;
}

.register-iframe {
  overflow: hidden;
}

/* footer */

footer {
  background: linear-gradient(156deg, #051238 0%, #0e339e 192.36%);
  padding: 80px 0;
}

footer p {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  margin-top: 24px;
  line-height: 2.3;
}

footer p span {
  font-size: 16px;
  font-weight: 700;
}

img.footer-icon {
  margin-right: 8px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 12px 0;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

footer ul li a:hover {
  color: #d9d9d9;
}

footer ul li a.active {
  color: #00ff94;
  font-weight: 700;
}

footer ul li a img {
  margin-right: 8px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 64px;
}

.footer-bottom li {
  display: inline-block;
}

.footer-bottom li:first-of-type {
  margin-right: 24px;
}
